<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.mapper.HServerAreaMapper">

    <resultMap id="BaseResultMap" type="com.ticket.entity.HServerArea">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="serverAreaCode" column="serverAreaCode" jdbcType="VARCHAR"/>
            <result property="serverAreaName" column="server_area_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,server_area_id,server_area_name
    </sql>
</mapper>
