<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.mapper.TTicketClassificationMapper">

    <resultMap id="BaseResultMap" type="com.ticket.entity.TTicketClassification">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="classificationName" column="classification_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="step" column="step" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classification_name,status,
        create_time,modify_time,remark,
        step
    </sql>
</mapper>
